.titleSection{
    text-align: center;
}

.dashboard{
    flex: content;
    display: flex;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif
}

.card h2{
    font-size: 20px;
}

#cardAnimalsRequiringAttention:hover{
    color: blue;
}

@media (max-width: 700px) {
    .card{

    }

    .card h2{
        width: 100px;
    }
}