<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/menu.css') }}">
</head>
<body>

    <div class="titleSection">
        <h1>Animals</h1>
    </div>

    <section class="sideMenu">
        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/animals">Animals</a>
            <a href="/register">Register</a>
        </div>
    </section>

    <section>


        <table>
            <tr>
                <th>Tag</th>
                <th>Race</th>
                <th>Sex</th>
                <th>Birth day</th>
                <th>Weight</th>
            </tr>

            {% for animal in animals_list %}
            <tr>
                <th>{{ animal['tag'] }}</th>
                <th>{{ animal['race'] }}</th>
                <th>{{ animal['sex'] }}</th>
                <th>{{ animal['birth_day'] }}</th>
                <th>{{ animal['weight'] }}</th>
                <th>
                    <form action="/delete" method="post">
                        <input type="hidden" name="animal_id" value="{{ animal['id'] }}">
                        <button type="submit" onclick="confirm('Do you really want to delete this animal from the database?')">X - Excluir</button>
                    </form>
                </th>
            </tr>

            {% endfor %}
        </table>
    </section>
    
</body>
</html>